

/*Header*/

/*Description*/

/*Digits*/

/*Feynman*/





/*Kaufman*/
.kaufman {
  background-color: #1f1f1f;
  position: relative;
  padding: 90px 0;
  overflow: hidden;
  color: white;
}

.section-subtitle_theme_dark {
  position: relative;
  z-index: 1;
}

/* и элемента с модификатором вида ключ-значение */


.kaufman__triangle {
  width: 877px;
  height: 877px;
  background-image: url(../images/kaufman-triangle.svg);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  position: absolute;
  top: 0;
  right: -210px;
  z-index: 0;
}

/*Footer*/
.footer {
  min-height: 350px;
  background-color: #1f1f1f;
  padding: 60px 0 40px;
  display: flex;
  box-sizing: border-box;
}

.footer__columns {
  width: 90%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

.footer__column {
  font-size: 18px;
  line-height: 30px;
  font-weight: normal;
  color: white;
}

.footer__column_content_copyright {
  flex-basis: 711px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}


.footer__author {
  line-height: 25px;
  margin: 18px 0;
}

.footer__column-heading {
  font-size: 18px;
  font-weight: 600;
  margin: 0;
}

.footer__column-menu {
  margin: 20px 0 16px;
}

.footer__column-links {
  list-style: none;
  margin: 0;
  padding: 0;
}

.footer__social-icon {
  margin-right: 10px;
}

.footer__column-link {
  color: white;
  text-decoration: none;
}
